body {
  margin: 0;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
}

h1 {
    margin-top: 90px;
    margin-bottom: 50px;
    color: #f2f0eb;
}


/*NAVBAR*/
.navbar {
  color: white;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: white;
}

.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin: 0 20px;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 16px;
  transition: background-color 0.3s;
}

.navbar-menu a:hover {
  background-color: #575757;
  border-radius: 4px;
}



/* Responsive navbar (Hamburger menu) */
.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .navbar-menu {
      display: none;
      width: 100%;
      text-align: center;
      flex-direction: column;
  }

  .navbar-menu.active {
      display: flex;
  }

  .navbar-toggle {
      display: flex;
  }

  h1{
    font-size: 22px;
    margin-bottom: 10px;
  }
}


/*Crypto Cointainer*/

  #cryptoContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
    margin-top: 20px;
  }

  .cryptoBox {
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Alinea los elementos verticalmente */
    border-radius: 0;
    font-size: 24px;
    color: #f2f0eb;
    font-weight: bold;
    background-color: #201E1F;
    transition: background-color 0.5s ease;
    position: relative;  /* Permite posicionar elementos dentro */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cryptoBox .cryptoName {
    font-size: 25px;
    font-weight: 700;
  }

  .cryptoBox .cryptoPrice {
    font-size: 25px;
    font-weight: 300;
    margin-top: 10px;
  }

  .cryptoBox .cryptoChange {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
  }

  /* 🔹 Cambia el diseño en dispositivos pequeños */
@media (max-width: 768px) {
  #cryptoContainer {
      flex-direction: column; /* Apila los elementos en una lista vertical */
      align-items: center;
  }

  .cryptoBox {
      width: 95%; /* Ocupa casi todo el ancho */
      max-width: 350px;
      height: 80px;
      flex-direction: row;
  }

  .cryptoBox .cryptoName {
    font-size: 20px;
    font-weight: 700;
  }

  .cryptoBox .cryptoPrice {
    font-size: 20px;
    font-weight: 300;
    margin-top: 0px;
    margin-left: 20px;
  }
}